<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Vhils - about</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
      </head>
      <body>

        <nav class="nav" >
            <h1 id="title">Vhils</h1>

            <li id="links">
                <a href ='/'> Home </a>
                <a href ='/works'> Works </a>
                <a href ='/gallery'> Gallery </a>
            </li>

        </nav>

        <section class="intro">
        <br>
        <p>Portuguese artist Alexandre Farto (b. 1987) has been interacting visually with the urban environment <br>
          under the name of Vhils since his days as a prolific graffiti writer in the early-to-mid 2000s.</p>
        <p>Vhils grew up in Seixal, an industrialised suburb across the river from Lisbon, the capital of Portugal,  <br>
          and was deeply influenced by the transformations brought on by the intensive urban development the country underwent in the 1980s and 1990s.  <br>
          He was particularly inspired by the way city walls absorb the social and historical changes that take place around them.  <br>
          Applying his original methods of creative destruction, Vhils digs into the surface layers of our material culture like a contemporary urban archaeologist,  <br>
          exposing what lies beyond the superficiality of things, making visible the invisible and restoring meaning and beauty to the discarded dimensions buried beneath.</p>
        <br>
        </section>

      </body>
    </html>