<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Vhils - home</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
      </head>
      <body>

        <nav class="nav" >
            <h1 id="title">Alexandre Farto - (Vhils)</h1>

            <li id="links">
                <a href ='/about' class="link"> About </a>
                <a href ='/works' class="link"> Works </a>
                <a href ='/gallery' class="link"> Gallery </a>
            </li>
        </nav>

        <br>
        <br>

        <section class="intro">
        <p> Here you will get the chance to get to know a little bit better Vhils and his artistic work.</p>
        <br>
        <p>Hope you enjoy!</p>
        </section>

      </body>
    </html>