<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Vhils - works</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
      </head>
      <body>

        <nav class="nav" >
            <h1 id="title">Vhils</h1>

            <li id="links">
                <a href ='/' class="link"> Home </a>
                <a href ='/about' class="link"> About </a>
                <a href ='/gallery' class="link"> Gallery </a>
            </li>

        </nav>

        <section class="intro">
        <br>
        <p>An avid experimentalist, Vhils has been developing his personal aesthetics in a plurality of media besides his signature carving technique: from stencil painting to metal etching,
          from pyrotechnic explosions and video to sculptural installations. He has also directed several music videos, short films, and two stage productions.
          His unique approach and artwork have been garnering critical acclaim around the globe.</p>
        <p> Since 2005, he has presented his work in over 30 countries around the world in solo and group exhibitions, 
            site-specific art interventions, artistic events and projects in various contexts – from working with 
            communities in the favelas of Rio de Janeiro, to collaborations with reputed art institutions such as 
            MAAT – Museum of Art, Architecture and Technology (Lisbon), Contemporary Arts Center (Cincinnati), Le Centquatre-Paris (Paris),
            Centre Pompidou (Paris), CAFA Art Museum (Beijing), or the Museum of Contemporary Art San Diego (San Diego), among others. </p>
        <br>
        </section>

      </body>
    </html>